<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel=stylesheet href="{% static 'bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/css/bootstrap.min.css'%}"/>
	<link rel="stylesheet" href="{% static 'style.css'%}"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="color:#556877">Voices</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="ab row"style="padding:20px">
<div class=" col-md-6"><img class="img-fluid" style="margin:10px"src="{% static 'intro-img.svg'%}"/></div>
<div class="col-md-6 text-center">

<h1 style="color:white" class="display-2"><i>VOICES<i class="fa fa-bullhorn" style="color:#FFFAFA; font-size:50px;"></i> </i></h1>
<button class="btn btn-outline-info btn-lg"> Get Started</button>
<button class="btn btn-outline-info btn-lg">click me</button>

</div></div>


<div class="container-fluid">

	<div class="ft">
<h4 class="text-center">About us</h4>
		<div class="text-muted text-center"> THe company produces alot of engineering products,<br/> used at various industries</div>

		<div class="row" style="margin-left:10px;">
		<div class="col-md-6">

			<div class="jumbotron"><i class="fa fa-bomb" style="color:#556877; font-size:30px;"> Life is good</i><br/>
			Never neglect the law of process, every growth demands discipline </div>
			<div class="jumbotron"><i class="fa fa-bolt" style="color:#556877; font-size:30px;"> The father's love</i><br/> You're too loving to leave me,
			you're faithful to disappoint me
			</div>


										</div>
		<div class="col-md-6 card">
		<h4 class="text-muted text-center">Why us?</h4>

		<button class="btn btn-outline">
		<div class="blockquote">
			<div class="display-6"> The Dream we had... <br/>
			<span class="text-muted" style="font-size:1rem;">""" Alas He told me and said, who can this be """</span>
			</div>
		<div class="blockquote-footer text-muted"> By Bunmi Ben</div>



		</div></button>


				<button class="btn btn-outline">
		<div class="blockquote">
			<div class="display-6"> The Dream we had... <br/>
			<span class="text-muted" style="font-size:1rem;">""" Alas He told me and said, who can this be """</span>
			</div>
		<div class="blockquote-footer text-muted"> By Bunmi Ben</div>



		</div></button>

		</</div>




		</div>

		</div>


</div>
<footer> <div class="text-center">
<div>
	<ul>
	<li>Products</li>
	<li>Price</li>
	<li>Latest Updates</li>
	<li>Location</li>
	</ul>
<div>





Copyright<br/>

<h4>Designed by <strong style="color:white"> Bunmi Ben</strong></h4>
</div></footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>


</html>